body {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

header,
section,
article,
footer,
nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

nav {
  margin-top: 1em;
}

h1,
h2 {
  color: #2a2a2a;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 1em;
}

time {
  font-style: italic;
  color: #666;
}

nav {
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {
  header,
  section,
  footer {
    margin: 20px auto;
    padding: 10px;
  }
  article {
    margin: 0 auto;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }
}
