---
layout: default
---

{% include header.html %}
<section>
  <h3>Contacts</h3>
  email@slonoed.net
</section>
<section>
  <h3>About</h3>
  <p>
    Effective frontend developer with great experience in web development,
    who can find a solution to any issue. Willing to use skills for building the best product.
  </p>
</section>

<section>
  <h3>Current</h3>
  Software Engineer at <a href="https://www.uber.com/">Uber</a>
</section>

<section class="blog">
  <h3>Blog Posts</h3>
  <ul>
    {% assign posts=site.posts | where_exp: "post", "post.lang != 'ru'" %}
    {% for post in posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="blog__date">{{ post.date | date: '%Y-%m-%d' }}</span>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h3>Tools</h3>
  <ul>
  {% for tool in site.data.tools %}
    <li>
      <a href="{{ tool.url }}">{{ tool.name }}</a>
    </li>
  {% endfor %}
  </ul>
</section>
