body {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

li {
	line-height: 2em;
}

.content {
	font-size: 20px;
	line-height: 1.5em;
	max-width: 800px;
	margin: 0 auto;
	padding: 1em;
}
