---
---

@import "reset";
@import "config";
@import "code";

$cool-red: #a70606;

body {
	color: $color-black;
	background: $color-white;
	font-family: Georgia, serif;
	font-size: 20px;
	font-weight: 300;
  line-height:1.6;
}
body{
}
h1,h2,h3 {
  line-height:1.2;
  color: $cool-red;
  margin: 1.2em 0 0.5em;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

h1 {
}

h2 {
  font-size: 38px;
	//margin-bottom: 15px;
  //margin-top: 1.5em;
}
h3 {
  font-size: 26px;
  //font-weight: bold;
	//margin-bottom: 0.5em;
  //margin-top: 1.25em;
}

blockquote {
  border-left: 6px solid #dedede;
  padding-left: 1em;
  margin: 1em 0;
}

p {
	font-size: 1em;
	line-height: 140%;
}
section {
	margin-bottom: 20px;
}
nav {
	margin-bottom: 20px;
}
a {
	color: $color-link;
	text-decoration: none;
	&:visited {
		color: $color-link;
		text-decoration: none;
	}
	&:hover {
		color: $color-link;
		text-decoration: underline;
	}
	&:active {
		color: $color-link;
		text-decoration: none;
	}
}
ul {
	list-style: none;
	li {
		padding: 5px;
		padding-left: 0;
    line-height: 150%;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}
ol {
  list-style-position: inside;
  margin-bottom: 1em;
	li {
    margin-bottom: 0.5em;
	}
}


.wrapper {
	max-width: 700px;
	margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}


.header {
	align-items: baseline;
	padding-bottom: 50px;
	position: relative;
	@media screen and (max-width: $br) {
		display: block;
	}
	&-ava {
		position: absolute;
		right: 0;
		width: 100px;
		height: 100px;
		@media screen and (max-width: $br) {
			position: static;
		}
	}
	h1 {
		font-size: 2em;
    line-height: 1em;
		margin: 0;
	}
	ul {
		margin-top: 10px;
		li {
			display: inline;
			padding: 0;
      margin-right: 0.5em;
		}
	}
}


.portfolio {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
}



.blog {
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}

  &__date {
    color: #777;
    margin-left: 1em;
  }
}


.post {
	padding-bottom: 30px;
	&__title {
		font-size: 2.2em;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	&__date {
		font-size: 1em;
		font-style: italic;
	}
	&__content {
		padding-top: 20px;
		h2 {
      position: relative;
		}
    .anchor-link {
      margin-left: 0.5em;
      position: absolute;
      left: -1.5em;
      opacity: 0;
    }
    @media screen and (min-width: 1000px) {
      h2:hover .anchor-link {
        opacity: 1;
      }
    }
		p {
			font-size: 1em;
			margin-bottom: 15px;
      text-align: left;
      line-height: 170%;
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: -5px;
			margin-bottom: 5px;
			li {
				padding: 5px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			max-width: 100%;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
		code {
      font-family: "Lucida Console", Monaco, monospace;
			padding: 0 1px;
			font-size: 0.8em;
			border-radius: 3px;
      line-height: 1.1em;
		}
    code.highlighter-rouge {
      color: $cool-red;
			background: #fdf6e3;
      padding: 0 4px;
      font-size: 0.9em;
    }
		.codebreak {
			margin: 15px;
			border: 0;
			border-bottom: 1px dashed $color-black;
		}
	}
}

.about {
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.2em;
			font-style: italic;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			margin-bottom: 10px;
		}
	}
}




.comment {
  &__text {
    font-size: 0.9em;
    line-height: 1.2em;
  }
  &__label {
    display: block;
    margin: 10px 0 4px;
  }
  &__input {
    display: block;
    width: 100%;
    font-size: 0.8em;
    line-height: 1.2em;
    padding: 4px;
  }
  background: #eee;
  padding: 15px;
  margin-bottom: 5px;

  &__name {
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__posted {
    margin-top: 10px;
    color: #777;
    font-size: 13px;
  }
}

.btn {
  border: none;
  background: none;
  color: #1A0DAB;
  font-size: 1rem;
  text-decoration: underline;
  margin-top: 4px;
  cursor: pointer;
}

.lang-link {
  float: right;
}

.logo-dm {
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;

  &--fixed {
    position: fixed;
    top: 30px;
    left: 30px;

    @media screen and (max-width: 892px) {
      display: none;
    }
  }
}
