---
layout: default
---


<article class="post">
  <a class="post__back" href="/" title="Home">&lt;-- home</a>
  <h1 class="post__title">{{ page.title }}</h1>
  <p>
    <span class="post__date" data-date={{ page.date | date_to_xmlschema }}>{{ page.date | date: '%Y-%m-%d' }}</span>
    {% assign posts=site.posts | where:"ref", page.ref | where_exp: "p", "p.lang != page.lang" %}
    {% for post in posts %}
      {% if post.lang == "ru" %}
        <a href="{{ post.url }}" class="lang-link lang-{{ post.lang }}">Russian version</a>
      {% else %}
        <a href="{{ post.url }}" class="lang-link lang-{{ post.lang }}">English version</a>
      {% endif %}
    {% endfor %}
  </p>
  <p class="post__meta">{{ tags_content }}</p>
  <div class="post__content">
      {{ content }}
  </div>

  <!-- comments -->
  <h2 class="comments__header">Comments</h2>
  <button id="turnon">Turn on</button>
  <div id="disqus_thread"></div>
</article>

<script>
  window.addEventListener('load', function() {
    Array.prototype.forEach.call(document.querySelectorAll('h2'), function(header) {
      var href = header.id;
      if (href) {
        var link = document.createElement('A');
        link.setAttribute('href', '#' + href);
        link.innerHTML = '#';
        link.className = 'anchor-link';
        header.appendChild(link);
      }
    });
  });

  var disqus_config = function () {
    this.page.url =  "http://slonoed.net/{{ page.url }}";
    this.page.identifier = "{{ page.id }}";
  };


  var commentButton = window.document.getElementById('turnon')
  commentButton.addEventListener('click', function() {
    commentButton.parentNode.removeChild(commentButton)
    var d = document, s = d.createElement('script');
    s.src = 'https://slonoednet.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })

</script>
