html, body {
  backgroun: #f1f1f1;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.root {
  max-width: 800px;
  margin: 30px auto;
}

input {
  display: block;
  width: 100%;
  margin: 15px 0;
  font-size: 14px;
  padding: 4px;
  outline: none;
}

.compare {
  font-size: 18px;
  background: #44b1ff;
  color: #fff;
  border: none;
  padding: 10px 18px;
  outline: none;
  cursor: pointer;
}

.output {
  margin-top: 20px;
  padding: 20px;
  background: #fdd;
  font-family: monospace;
}

.good {
  background-color: #8bf18b
}
.bad {
  background-color: red
}
