---
layout: list
title: Ru
cover: false
lang: ru
---
<h4 style="width: 80%; max-width: 710px;margin: 1rem auto">
    Так же есть посты на <a href="{{ site.baseurl }}">английском</a>
</h4>
{% for post in site.posts %}
{% if post.categories contains 'ru' %}  
<article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>

    <footer class="post-meta">
        {% if post.categories.size > 0 %} 
            {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
        {% endif %}
        <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
            {{ post.date | date_to_string }}
        </time> 
    </footer>
</article>

{% endif %}
{% endfor %}
